body {
    background-color: chocolate;
}

main {
    background-color: white;
    margin: auto;
    padding: 15px;
    width: 600px;
}

header, article, footer {
    padding: 5px;
    border: 1px solid black;
    border-collapse: collapse;
} 

h1, footer p {
    text-align: center;
}

table tr:nth-child(odd) {
    background-color: burlywood;
}

table * {
    border: 1px solid black;
}
table {
    border-collapse: collapse;
}

.elrejt {
    display: none;
}